<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Encriptador</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore dolores voluptatum autem expedita iure eligendi deleniti corrupti! Autem, nihil, accusantium labore ipsum laudantium eaque eveniet ea beatae similique quos aliquid.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proyect.jpg" class="img-fluid img-proyecto">
        </div>
    </div>
    </div>