.body{
    background-color: #a1b5cb;  
  }

  #about-section{
    border-radius: 0px 0px 20px 20px;
    border: 0.5px solid #F3F2EF;
  }
  
  .row {
    padding: 20px;
   
  }
  
   #personal-info {
    text-align: center;
  } 
  
  #img-container:hover {
    cursor: pointer;
    transform: rotate(5deg);
  }
  
  #fotodeperfil {
    border-radius: 105px;
  
  }
 
#acerca{
  padding: 60px;
}
.modal-content{
  background-color: #a1b5cb
}


  
  #name {
    margin-top: 10%;
    margin-left: 10px;
  }

 
  /** media queries **/
  @media (min-width: 575px) {
    .row {
      max-width: 1440px;
    }
  
    #img-container {
      position: relative;
      background-color: gray;
      
    }
  
    #img-perfil {
      max-width: 200px;
      max-height: 200px;
      /* left: 10%; */
      top: -140px;
      border-radius: 105px;
      background-color:darkgray;
    }
  
    #name{
      margin-top: 10%;
      
    }
  }