<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique cumque consectetur, aperiam reiciendis numquam repellat rem, labore facere repellendus saepe suscipit? Aspernatur suscipit autem, cum voluptatibus molestiae iusto dolorem corporis!</p>         
        </span>
    </div>
</div>