<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="reloj.component.css">
  <base href="/reloj">
</head>
<body>
	<div class="flex">
		<div class="contenido">
			<div class="reloj">
				<img src="../reloj/aguja.png" id="horas" alt="">
				<img src="../reloj/agujaMinutos.png" id="minutos" alt="">
				<img src="agujaSegundos.png" id="segundos" alt="">
			</div>
		</div>
		<div class="contenido">
			<h4 id="h4-content">¡Hora actual!</h4>
			<p id="p-content"></p>
		</div>
	</div>
<script src="../reloj/script.js"></script>
</body>
</html>